.App {
  text-align: center;
  background-color: #37123C;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  z-index: -100;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-wrapper {
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #DDA77B;
  width: 80%;
  max-width: 800px;
  z-index: 100;
}

.App-link {
  color: #DDA77B;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle-container{
  width: 410px;
  height: 410px;
  position: relative;
  display: block;
}

.circle{
  width: 300px;
  height: 300px;
  /* background-color: #DDA77B; */
  /* border-radius: 50%; */
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 25%;
  transition: all 0.3s;
}

.play-circle{
  width: 300px;
  height: 300px;
  background-color: #DDA77B;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 25%;
  transition: all 0.3s;
}

.circle-hover{
  background-color: #a37e60;
}

.circle-hider{
  width: 410px;
  height: 410px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  position: absolute;
  display: none;
  /* top: -405px; */
}

.upload-icon{
  /* color: aliceblue; */
  color:#37123C;
  position: relative;
  top: 95px;
}

.wrapper{
  position: relative;
}

.p5Canvas{
  color:aqua;
}

.pause-play-icon:hover {
  cursor: pointer;
}
.slider-container {
  position: relative;
  top: -1.5rem;
  right: 0;
  left: 0;
  margin-top: 30%;
   width: 80%; 
}

.slider {
  appearance: none;
  width: 100%;
  height: 0.125rem;
  background: rgba(221, 167, 123, 0.95);
  outline: none;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 0.3rem;
  height: 0.875rem;
  background: rgba(221, 167, 123, 0.95);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.15);
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 0.3rem;
  height: 0.875rem;
  background: rgba(221, 167, 123, 0.95);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.15);
}

.range {
  position: relative;
  top: -1.5rem;
  right: 0;
  left: 0;
  margin-top: 30%;
  background: rgba(221, 167, 123, 0.95);
  width: 80%;
  height: 0.125rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.range:before, .range:after {
  content: "";
  position: absolute;
  cursor: pointer;
}

.range:after {
  top: -0.375rem;
  left: 3rem;
  z-index: 3;
  width: 0.3rem;
  height: 0.875rem;
  background: rgba(221, 167, 123, 0.95);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.15);
  /* transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); */
}
.range:focus:after, .range:hover:after {
  background: rgba(148, 93, 94, 0.95);
}

.search-bar{
  width: 100%;
  position: absolute;
  top: 0px;
  height: fit-content;
  z-index: 1000;
  padding-top: 10px;
}

.search-menu {
  position: absolute;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  background-color: #DDA77B;
  height: 100vh;
}

.search-wrapper{
  width: 80%;
  max-width: 1600px;
  height: 100%;
  margin: auto;
  padding-top: 50px;
  box-sizing: border-box;
}

.search-wrapper > p{
  color: #37123C;
  font-size: 20px;
  width: 100%;
}

.search-menu.hide{
  top: -100%;
  background-color: rgba(0, 0, 0, 0);
}

.search-menu.show{
  top: 0px;
}

.cloud-upload-icon {
  color: #37123C;
}

.search-menu-icon:hover, .cloud-upload-icon:hover {
  cursor:pointer;
}

.cloud-upload-icon:active {
  transform: scale(0.9);
}

.song-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.song-item{
  width: 200px;
  height: 300px;
  border: solid 1px #37123C;
  border-radius: 3%;
  color: #37123C;
}

.song-item > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
  margin: 1em auto 1em auto;
}

.song-item-icon {
  padding: 50px 0 50px 0;
}

.song-item-action-icon {
  /* box-sizing: border-box; */
  padding: 0 20px 0 20px;
  margin: 0 10px 0 10px;
  border: solid 1px #37123C;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  background-color: #DDA77B;
}

.song-item-action-icon:hover {
  cursor: pointer;
}

.song-item-action-icon:active {
  transform: scale(0.9);
  background-color: #37123C;
  color: #DDA77B;
}

.error-overlay {
  z-index: 1001;
  margin-bottom: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.alert {
  width: 60%;
  margin: 0 auto 10px auto;
  padding: 8px 0 8px 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 15px;
}

.error {
  color: rgb(173, 25, 25);
}

@media screen and (max-width: 600px) {
  .circle{
    width: 150px;
    height: 150px;
  }

  .upload-icon {
    top: 47.5px;
  }

  .search-wrapper > p {
    font-size: 14px;
  }
  .song-item{
    width: 120px;
    height: 180px;
  }
}